# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Model files
models/*.pth

# Dataset
PlantVillage-Dataset/

# Local data
data/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db